image: registry.gitlab.alt.coop/ctrlaltcoop/android-docker:latest


stages:
  - test
  - build
  - publish

.prepareEnv:
  stage: build
  cache:
    paths:
      - .gradle/wrapper
      - .gradle/caches
      - app/build
      - build
    key: android-base
  before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - echo $SECRET_BUNDLE_BASE64 | base64 -d > bundle.tar
    - sudo tar --same-owner -xf bundle.tar
    - sudo chown -R circleci:circleci .
    - echo "keystorePassword=${ANDROID_KEYSTORE_PASSWORD/\\/\\\\}" >> keystore.properties
    - echo "keyPassword=${ANDROID_KEYSTORE_KEY_PASSWORD/\\/\\\\}" >> keystore.properties

.assemble:
  extends: .prepareEnv
  artifacts:
    paths:
      - app/build/outputs/

assembleDebug:
  extends: .assemble
  interruptible: true
  script:
    - ./gradlew --no-daemon assembleGoogleTazDebug

assembleRelease:
  extends: .assemble
  interruptible: true
  script:
    - ./gradlew --no-daemon assembleGoogleTazRelease


lint:
  extends: .prepareEnv
  interruptible: true
  stage: test
  script:
    - ./gradlew --no-daemon --console=plain :app:lint

unitTests:
  extends: .prepareEnv
  interruptible: true
  stage: test
  script:
    - ./gradlew --no-daemon --console=plain :app:test

integrationTests:
  extends: .prepareEnv
  stage: test
  script:
    - ${ANDROID_HOME}/emulator/emulator @test -no-boot-anim -no-window &
    - sleep 30 && ./gradlew --no-daemon -Pci --console=plain :app:cAT
  tags:
    - powerhouse

publishNextcloud:
  cache: {}
  stage: publish
  script:
    - curl -X MKCOL "${NEXTCLOUD_RELEASE_URL}/remote.php/webdav/releases/${CI_COMMIT_TAG}" -u ${NEXTCLOUD_RELEASE_USER}:${NEXTCLOUD_RELEASE_PASSWORD}
    - curl -X PUT "${NEXTCLOUD_RELEASE_URL}/remote.php/webdav/releases/${CI_COMMIT_TAG}/app-google-taz-debug.apk" --data-binary @"app/build/outputs/apk/googleTaz/debug/app-google-taz-debug.apk" -u ${NEXTCLOUD_RELEASE_USER}:${NEXTCLOUD_RELEASE_PASSWORD}
    - curl -X PUT "${NEXTCLOUD_RELEASE_URL}/remote.php/webdav/releases/${CI_COMMIT_TAG}/app-google-taz-release.apk" --data-binary @"app/build/outputs/apk/googleTaz/release/app-google-taz-release.apk" -u ${NEXTCLOUD_RELEASE_USER}:${NEXTCLOUD_RELEASE_PASSWORD}
  only:
    - tags

publishGooglePlay:
  cache: {}
  stage: publish
  script:
    - ./gradlew publishGoogleTazRelease
  only:
    - tags
  when: manual