<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="de.taz.app.android"
        android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="false"
        android:xlargeScreens="false"
        android:requiresSmallestWidthDp="200"
        android:largestWidthLimitDp="600"/>

    <application>

        <service
                tools:replace="android:exported"
                android:name=".FirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>
</manifest>