/*
 * Basis für alle Plattformen bis 2.10.2017
 */

/* Allgemein */
a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration	: underline;
  color			: #000;
}
html, div, p, h1, h2, h3, h4, h5, span, a, img {
  padding		: 0;
  margin		: 0;
  text-rendering	: optimizeSpeed;	/* Verhindert fehlerhaftest Rendering in iOS bei Ligaturen und Softhyphens */
}
/* Schriftgewichtungen
100		Thin, Hairline, Ultra-light, Extra-light
200		Light
300		Book
400	normal	Regular, Normal, Plain, Roman, Standard
500		Medium
600		Semi-bold, Demi-bold
700	bold	Bold
800		Heavy, Black, Extra-bold
900		Ultra-black, Extra-black, Ultra-bold, Heavy-black, Fat, Poster
*/
/*
 * Basis-Schriften
 */
@font-face {
  font-family	: taz;
  src		: url(TazWt05-Regular.woff) format("woff");
  font-style	: normal;
  font-weight	: normal;
  font-stretch	: normal;
}
@font-face {
  font-family	: taz;
  src		: url(TazWt07-Bold.woff) format("woff");
  font-style	: normal;
  font-weight	: bold;
  font-stretch	: normal;
}
@font-face {
  font-family	: taz;
  src		: url(TazWt06-SemiBold.woff) format("woff");
  font-style	: normal;
  font-weight	: 600;
  font-stretch	: normal;
}
@font-face {
  font-family	: QuaText;
  src		: url(QuaText-Regular.woff) format("woff");
  font-style	: normal;
  font-weight	: normal;
  font-stretch	: normal;
}
@font-face {
  font-family	: QuaText;
  src		: url(QuaText-Bold.woff) format("woff");
  font-style	: normal;
  font-weight	: bold;
  font-stretch	: normal;
}
@font-face {
  font-family	: QuaText;
  src		: url(QuaText-RegularItalic.woff) format("woff");
  font-style	: italic;
  font-weight	: normal;
  font-stretch	: normal;
}
@font-face {
  font-family	: QuaText;
  src		: url(QuaText-BoldItalic.woff) format("woff");
  font-style	: italic;
  font-weight	: bold;
  font-stretch	: normal;
}
/*
 * Neu für alle Layouts
 */
@font-face {
  font-family	: ErlerDingbats;
  src		: url(ErlerDingbats.woff) format("woff");
  font-style	: normal;
  font-weight	: normal;
  font-stretch	: normal;
}
/*
 * Neues Layout
 */
/* Knile Extralight neu 25.3.2020 */
@font-face {
  font-family	: Knile;
  src		: url(knile-extralight-webfont.woff) format("woff");
  font-weight	: 100;
  font-stretch	: normal;
}
/* Knile Extralight italic neu 25.3.2020 */
@font-face {
  font-family	: Knile;
  src		: url(knile-lightitalic-webfont.woff) format("woff");
  font-style	: italic;
  font-weight	: 100;
  font-stretch	: normal;
}
/* Knile Light */
@font-face {
  font-family	: Knile;
  src		: url(knile-light-webfont.woff) format("woff");
  font-weight	: 200;
  font-stretch	: normal;
}
/* Knile Light italic */
@font-face {
  font-family	: Knile;
  src		: url(knile-lightitalic-webfont.woff) format("woff");
  font-weight	: 200;
  font-style	: italic;
  font-stretch	: normal;
}
/* Knile Regular neu 25.3.2020  */
@font-face {
  font-family	: Knile;
  src		: url(knile-regular-webfont.woff) format("woff");
  font-weight	: normal;
  font-stretch	: normal;
}
/* Knile Regular italic neu 25.3.2020 */
@font-face {
  font-family	: Knile;
  src		: url(knile-regularitalic-webfont.woff) format("woff");
  font-weight	: normal;
  font-style	: italic;
  font-stretch	: normal;
}
/* Knile Medium neu 25.3.2020  */
@font-face {
  font-family	: Knile;
  src		: url(knile-medium-webfont.woff) format("woff");
  font-weight	: normal;
  font-stretch	: normal;
}
/* Knile Medium italic neu 25.3.2020 */
@font-face {
  font-family	: Knile;
  src		: url(knile-mediumitalic-webfont.woff) format("woff");
  font-weight	: normal;
  font-style	: italic;
  font-stretch	: normal;
}
/* Knile SemiBold */
@font-face {
  font-family	: Knile;
  src		: url(knile-semibold-webfont.woff) format("woff");
  font-weight	: 600;
  font-style	: normal;
  font-stretch	: normal;
}
/* Knile SemiBold italic neu 25.3.2020 */
@font-face {
  font-family	: Knile;
  src		: url(knile-semibolditalic-webfont.woff) format("woff");
  font-weight	: 600;
  font-style	: italic;
  font-stretch	: normal;
}
/* Knile Bold */
@font-face {
  font-family	: Knile;
  src		: url(knile-bold-webfont.woff) format("woff");
  font-weight	: bold;
  font-style	: normal;
  font-stretch	: normal;
}
/* Knile Bold italic neu 25.3.2020 */
@font-face {
  font-family	: Knile;
  src		: url(knile-bolditalic-webfont.woff) format("woff");
  font-weight	: bold;
  font-style	: italic;
  font-stretch	: normal;
}
/* Knile Black neu 25.3.2020 */
@font-face {
  font-family	: Knile;
  src		: url(knile-black-webfont.woff) format("woff");
  font-weight	: 800;
  font-style	: normal;
  font-stretch	: normal;
}
/* Knile Black italic neu 25.3.2020 */
@font-face {
  font-family	: Knile;
  src		: url(knile-blackitalic-webfont.woff) format("woff");
  font-weight	: 800;
  font-style	: italic;
  font-stretch	: normal;
}

/* AktivGrotesk Hair */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_Hair.woff) format("woff");
  font-style	: normal;
  font-weight	: 100;
  font-stretch	: normal;
}
/* AktivGrotesk Hair Italic neu 25.3.2020 */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_HairIt.woff) format("woff");
  font-style	: italic;
  font-weight	: 100;
  font-stretch	: normal;
}
/* AktivGrotesk Light */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_Lt.woff) format("woff");
  font-style	: normal;
  font-weight	: 200;
  font-stretch	: normal;
}
/* AktivGrotesk Light Italic neu 25.3.2020 */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_LtIt.woff) format("woff");
  font-style	: italic;
  font-weight	: 200;
  font-stretch	: normal;
}
/* AktivGrotesk Regular */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_Rg.woff) format("woff");
  font-style	: normal;
  font-weight	: normal;
  font-stretch	: normal;
}
/* AktivGrotesk Italic */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_It.woff) format("woff");
  font-style	: italic;
  font-weight	: normal;
  font-stretch	: normal;
}
/* AktivGrotesk Medium */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_Md.woff) format("woff");
  font-style	: normal;
  font-weight	: 500;
  font-stretch	: normal;
}
/* AktivGrotesk Medium Italic neu 25.3.2020 */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_MdIt.woff) format("woff");
  font-style	: italic;
  font-weight	: 500;
  font-stretch	: normal;
}
/* AktivGrotesk Bold */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_Bd.woff) format("woff");
  font-style	: normal;
  font-weight	: bold;
  font-stretch	: normal;
}
/* AktivGrotesk Bold Italic */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_BdIt.woff) format("woff");
  font-style	: italic;
  font-weight	: bold;
  font-stretch	: normal;
}
/* AktivGrotesk Extra-Bold neu 25.3.2020 */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_XBd.woff) format("woff");
  font-style	: normal;
  font-weight	: 800;
  font-stretch	: normal;
}
/* AktivGrotesk Extra-Bold Italic neu 25.3.2020 */
@font-face {
  font-family	: AktivGrotesk;
  src		: url(AktivGrotesk_W_XBdIt.woff) format("woff");
  font-style	: italic;
  font-weight	: 800;
  font-stretch	: normal;
}

/* AmericanTypewriterCondensedBold.woff Hair */
@font-face {
  font-family	: AmericanTypewriter;
  src		: url(AmericanTypewriterCondensedBold.woff) format("woff");
  font-style	: normal;
  font-weight	: bold;
  font-stretch	: condensed;
}
/*
 * LMd
 */
/* ArnhemPro Blond */
@font-face {
  font-family	: ArnhemPro;
  src		: url(ArnhemPro-Blond.woff) format("woff");
  font-weight	: normal;
  font-style	: normal;
  font-stretch	: normal;
}
/* ArnhemPro Blond Italic */
@font-face {
  font-family	: ArnhemPro;
  src		: url(ArnhemPro-BlondItalic.woff) format("woff");
  font-weight	: normal;
  font-style	: italic;
  font-stretch	: normal;
}
/* ArnhemPro Bold neu 25.3.2020 */
@font-face {
  font-family	: ArnhemPro;
  src		: url(ArnhemPro-Bold.woff) format("woff");
  font-weight	: bold;
  font-style	: normal;
  font-stretch	: normal;
}
/* ArnhemPro Bold Italic neu 25.3.2020 */
@font-face {
  font-family	: ArnhemPro;
  src		: url(ArnhemPro-BoldItalic.woff) format("woff");
  font-weight	: bold;
  font-style	: italic;
  font-stretch	: normal;
}
/* BentonSans Regular neu 25.3.2020 */
@font-face {
  font-family	: BentonSans;
  src		: url(BentonSans-Regular.woff) format("woff");
  font-weight	: normal;
  font-style	: normal;
  font-stretch	: normal;
}
/* BentonSans Regular Italic neu 25.3.2020 */
@font-face {
  font-family	: BentonSans;
  src		: url(BentonSans-RegularItalic.woff) format("woff");
  font-weight	: normal;
  font-style	: italic;
  font-stretch	: normal;
}
/* BentonSans Italic neu 25.3.2020 */
@font-face {
  font-family	: BentonSans;
  src		: url(BentonSans-Italic.woff) format("woff");
  font-weight	: 500;
  font-style	: italic;
  font-stretch	: normal;
}
/* BentonSans Bold neu 25.3.2020 */
@font-face {
  font-family	: BentonSans;
  src		: url(BentonSans-Bold.woff) format("woff");
  font-weight	: bold;
  font-style	: normal;
  font-stretch	: normal;
}
/* BentonSans Bold Italic neu 25.3.2020 */
@font-face {
  font-family	: BentonSans;
  src		: url(BentonSans-BoldItalic.woff) format("woff");
  font-weight	: bold;
  font-style	: italic;
  font-stretch	: normal;
}
/* BentonSans Black neu 25.3.2020 */
@font-face {
  font-family	: BentonSans;
  src		: url(BentonSans-Black.woff) format("woff");
  font-weight	: 800;
  font-style	: normal;
  font-stretch	: normal;
}

html, body {
  font-family	: QuaText,ErlerDingbats,Times,serif;
  font-weight	: normal;
  font-size	: 18px;		/* wird überschrieben und ist die Grundlage für 1rem */
  line-height	: 1.333rem;	/* 24bx */
  margin	: 0;
  padding	: 0;
}
body h2 {
  font-family	: taz,sans-serif;
  font-weight	: bold;
  font-size	: 1.4rem;
  line-height	: 100%;
  margin	: 0 0 0.6rem 0;
  -webkit-hyphens	: none;
  hyphens		: none;
}
body h3 {
  font-family	: taz,sans-serif;
  font-weight	: bold;
  font-size	: 1.2rem;
  line-height	: 125%;
  margin	: 0 0 0.8rem 0;
  -webkit-hyphens	: none;
  hyphens		: none;
}
body h4 {
  font-family	: taz;
  font-weight	: 600;
  font-size	: 1rem;
  line-height	: 125%;
  margin	: 0 0 0.8rem 0;
  -webkit-hyphens	: none;
  hyphens		: none;
}
body h5 {
  font-family	: taz;
  font-weight	: 600;
  font-size	: 1rem;
  line-height	: 125%;
  margin	: 0 0 0.8rem 0;
  -webkit-hyphens	: none;
  hyphens		: none;
}
body ul,dl {
  list-style-type	: circle
}
body img {
  border		: none;
}

#brot {
  clear	: both;
  -webkit-hyphens	: auto;
  hyphens		: auto;
}

#Info {
  clear	: both;
}

.Unterzeile, .ZU, .Zwischentitel, .Titel, .TitelSpitz, .ShortyDach, .ShortyTitel, .SeitenDach, .Dach {
  -moz-hyphens    : none;
  -webkit-hyphens : none;
  hyphens         : none;
  text-align	: left;
}

/* Auszeichnungen aus Text Marken */
/* Absatz allgemein */

/* Text Abstand 1 Zeile linksbündig */

p {
  margin		: 0;
  margin-bottom		: 1rem;
  -webkit-hyphens	: auto;
  hyphens		: auto;
}
p.meinz {
  text-indent	: 0;
}
p.oeinz {
  text-indent	: 0;
}

#content.noScroll p {
  margin-bottom	: 0;
}
#content.noScroll p.meinz {
  text-indent	:  1.5em;
}
#content.noScroll p.oeinz {
  text-indent	: 0;
}
#content.noScroll .Shorty, #brot.noScroll p.Zwischentitel {
  margin-top	: 1.3rem;
}

/* Text mit Blocksatz */
#content.isJustify p {
  text-align	: justify;
}
#content.isJustify p.meinz {
  text-align	: justify;
}
#content.isJustify p.oeinz {
  text-align	: justify;
}

/* Fett */
strong {
  font-weight	: bold;
}
/* Fett Kursiv*/
strong.FettKursiv {
  font-style	: italic;
}
/* Kursiv */
i {
  font-style	: italic;
}
sup, sub {
  vertical-align	: baseline;
  position		: relative;
  font-size		: 75%;
  line-height		: 0;
}
/* Hochstellung */
sup {
  top			: -0.5rem;
}
/* Tiefstellung */
sub {
  bottom: -0.25rem;
}

/* Absatz Brottext */
p.B {
}
/* Absatz Autor */
p.Au {
  font-weight		: bold;
  text-transform	: uppercase;
}
/* Autor */
span.zAu {
  font-weight		: bold;
  text-indent		: 0;
  text-transform	: uppercase;
}

p.Initial::first-line {
/*  line-height: 100%;	Kein Register mehr! */
}
/* Initial  */
p.Initial::first-letter {
  font-family	: taz,sans-serif;
  font-weight	: bold;

  line-height	: 100%;
  font-size     : 4.1rem;
  margin        : -0.05rem 0.05rem -0.2rem 0;

  padding	: 0 0 0 0;
  float		: left;
}

/* Hinweis */
p.Hinweis {
  font-family	: taz;
  font-weight	: 600;
  font-size	: 1rem;
  margin-top	: 1.3rem ;
  margin-bottom	: 1.3rem;
}
p.Hinweis::before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.4rem;
  background-color: #4B92A5;
}
/* Hinweis */
span.zHinweis {
  font-style	: italic;
}
/* Fussnote */
p.Fussnote {
}
/* Fussnote mit Linie */
p.FussnotemitLinie {
  border-top	: 1px solid black;
  margin-top	: 1.3rem;
}
/* Seiten Dachzeile */
h4.SeitenDach {
  font-family		: taz,sans-serif;
  font-size		: 1rem;
  text-transform	: uppercase;

}
/* Dachzeile */
h4.Dach {
  font-family		: taz,sans-serif;
  font-size		: 1rem;
  text-transform	: uppercase;
}
/* Vorspann */
h5.Vorspann {
}
/* Seitenvorspann */
h5.Seitenvorspann {
}
/* Titel */
h2.Titel {
  font-family	: taz,sans-serif;
  font-weight	: bold;
  font-size	: 1.8rem;
  line-height	: 130%;
}
/* Titel/Unterzeile */
span.zU {
  font-weight	: bold;
}
/* Unterzeile */
h4.Unterzeile {
  font		: normal 1.1rem/130% QuaText,Times,serif;
}
/* rotes wort anfang unterzeile */
.TitelSpitz, .Spitzmarke, .Stichwort {
  font-weight		: bold;
  color  		: #C62639;
  text-transform	: uppercase;
}
/* Korrespondent */
p.Korrespondent {
  font-family	: taz;
  font-weight	: 600;
  font-size	: 1rem;
  margin	: 0 0 1.3rem 0; /* neu */
  text-transform	: uppercase;
}
p.Versal {
  text-transform	: uppercase;
}
/* Zwischentitel Über */
.ZU {
  font-family	: taz;
  font-weight	: 600;
  font-size	: 1rem;
  margin	: 0 0 1.3rem 0; /* neu */
}
/* Zwischentitel */
.Zwischentitel {
  font-family	: taz,sans-serif;
  font-weight	: bold;
  margin	: 1rem 0 0 0;
  font-size	: 1.2rem;
  padding	: 0;
}

/* Anzeigen */
/* Balken fuer Programmteil Anzeigen */
p.AnzBalken {
  font-family	: taz;
  font-weight	: 600;
  font-size	: 1.1rem;
  padding	: 0 0.8rem 0 0.5rem;
  margin-top	: 0.5rem;
  text-align	: left;
  border-left	: 1.2rem solid #961d2a;
}
/* Rubrik fuer Programmteil Anzeigen ohne Einzug */
p.AnzRubrik {
  font-family	: taz;
  font-weight	: 600;
  font-size	: 1.1rem;
  margin	: 1.3rem 0 0.7rem 0;
  border-bottom	: 1px dotted #000;
  color         : #C62639; /*test*/

}
/* Anzeigentext */
p.Anzeige {
  margin	: 0 0 1.3rem 0;
}
/* TV */
/* Balken fuer TV */
p.TvBalken {
  font-family	: taz,sans-serif;
  font-size	: 1rem;
  margin	: 0;
  padding	: 0 0.8rem 0 0.5rem;
  border-left	: 1rem solid #C62639;
}
/* Rubrik fuer TV */
p.TvRubrik {
  font-family	: taz;
  font-weight	: 600;
  font-size	: 1.1rem;
  margin	: 1.5rem 0 0.5rem 0;
  border-bottom	: 1px dotted #000;

}
/* TV */
p.TV {
  font-size	: 1rem;
}
/* Korrespondent */
span.TvZeit {
  font-weight	: bold;
}

.Gegendarstellung {
  margin	: 1.3rem 0 1.3rem 0;
}
.GegendarstellungTitel {
  font-family	: taz,sans-serif;
  font-weight	: bold;
  font-size	: 1.5rem;
  border-top	: 2px solid #000;
  color  	: #C62639;
  margin	: 1rem 0 1.1rem;
  padding-top	: 0.5rem;
  text-transform: uppercase;
}

/* Marken abweichend für die Shortys */
/* Eingebeteter Shorty */
.Shorty {
  margin-top	: 0;
  margin-bottom	: 0;
  clear		: both;
}
/* Dachzeile */
.ShortyDach {
  font-family	: taz;
  font-weight	: 600;
  margin	: 0 0 1.3rem;
}
/* Vorspann */
.ShortyVorspann {
  font-family	: taz;
  font-weight	: 600;
  margin	: 0 0 1.3rem;
}
/* Titel */
.ShortyTitel {
  font-family	: taz,sans-serif;
  font-weight	: bold;

  font-size	: 1rem;

  border-top	: 0.1rem dotted #000;
  border-bottom	: 0.1rem dotted #000;

  color  	: #C62639;
  margin-top	: 1.13rem;
  margin-bottom	: 0;
}
/*
 * h2.Titel im Shorty
 */
div.Shorty h2.Titel {
  font-family	: taz,sans-serif;
  font-weight	: bold;

  font-size	: 1rem;
  line-height	: 1.3rem;

  border-top	: 0.1rem dotted #000;
  border-bottom	: 0.1rem dotted #000;

  color  	: #C62639;
  margin-top	: 1.13rem;
  margin-bottom	: 0;
}

div.ArtikelTyp_Short p.oeinz::before {
  content		: "";
  display		: inline-block;
  width			: 0.6rem;
  height		: 0.6rem;
  margin-right		: 0.2rem;
  background-color	: #4B92A5;
}

div.ArtikelTyp_Leserin p.Zwischentitel {
  font-family	: taz;
  font-weight	: normal;
  font-size	: 1.8rem;
  margin-top	: 1rem;
}
div.ArtikelTyp_Leserin p.Hinweis {
  margin-bottom	: 0;
  margin-top	: 1rem;
}

/* Titel/Unterzeile */
span.ShortyzU {
}
/* Unterzeile */
.ShortyUnterzeile {
}

/* Auszeichnungen aus dem Generator */

/* Inhaltsverzeichnis */
ul.Content {
}
/* Eintrag Quelle */
li.Quelle {
}
/* Inhaltsverzeichnis Quelle */
ul.Quelle {
}
/* Eintrag Seite */
li.Seite {
}
/* Inhaltsverzeichnis Seite */
ul.Seite {
}
/* Eintrag Artikel */
li.Text {
}

.logo {
  margin-top	: 0;
  text-align	: center;
}
blockquote.Quelle {
  margin-top	: 0;
  margin-left	: 0;
  margin-bottom	: 0.2rem;
}
blockquote.Seite {
  margin-top	: 0;
  margin-left	: 1rem;
  margin-bottom	: 0.2rem;
}
.Quelle {
  margin-top	: 0;
  margin-bottom	: 0;
  font-weight	: bold;
}
.Seite {
  margin-top	: 0;
  margin-bottom	: 0;
}
.Text {
  margin-top	: 0;
  margin-bottom	: 0;
}

div#start {
  margin	: 0 0 0 0;
}

div.Artikel {
  /* padding  : 0.5rem 0 0 0; */
}

/* Kopf  */
#kopf {
  width			: 100%;
  left			: 0px;
  font-family		: taz,sans-serif;
  border-bottom		: 1px solid black;
  overflow		: hidden;
  font-size		: 1rem;
  margin-bottom		: 14px;
}

/* Linker KopfTeil */
div.KopfLinks {
  font-family		: taz,sans-serif;
  margin		: 0 0.5rem 0 0;
  float			: left;
  padding-bottom	: 0;
}
/* Rechter KopfTeil */
div.KopfRechts {
  float			: right;
  overflow		: hidden;
  white-space		: nowrap;
}
/* Datum im Kopf */
span.Date {
}
/* Quelle im Kopf */
span.Quelle {
}
/* Seite im Kopf */
span.Seite {
}

/* Linker KopfTeil */
div.KopfLinksLMD {
  font-family		: Arial, Helvetica, sans-serif;
  margin		: 0 0.8rem 0 0;
  float			: left;
  padding-bottom	: 0;
}
/* Rechter KopfTeil */
div.KopfRechtsLMD {
  font-family	: Arial, Helvetica, sans-serif;
  float		: right;
}
/* Datum im Kopf */
span.DateLMD {
  font-family	: Arial, Helvetica, sans-serif;
  font-weight	: bold;
}
/* Quelle im Kopf */
span.QuelleLMD {
}
span.QuelleLMDi {
  font-style	: italic;
  font-weight	: normal;
}
/* Seite im Kopf */
span.SeiteLMD {
}


#content {
  clear		: both;
  margin-top	: 0;
  padding	: 0;
}

div.border {
  margin	: 0;
  padding	: 0;
}

div#Abstrakt {
  width			: 100%;
  border-bottom		: 1px solid black;
  border-top		: 1px solid black;
  margin		: 0 0 0.8rem 0;
  padding		: 0;
  background-color	: #e4e9dc;
  overflow		: hidden;
}

/* Tabelle Abstrakt */
table.Abstrakt {
  width			: 100%;
  border-top-style	: none;
  border-right-style	: none;
  border-left-style	: none;
  border-bottom		: 2px solid black;
  border-left		: none;
  border-right		: none;
  margin-top		: 0;
  margin-bottom		: 0;
  padding-bottom	: 0;
  border-collapse	: collapse;
  background-color	: #F0F0F0;
}
/*
div.Abstrakt {
  width			: 100%;
  border-bottom		: 1px solid black;
  margin		: 0;
  padding		: 0;
  background-color	: #F0F0F0;
}
*/
/* Linker AbstraktTeil */
td.AbstraktLinks {
  font			: bold 1.1rem/135% arial,helvetica,verdana,sans-serif;
  text-align		: left;
  vertical-align	: top;
  padding-top		: 1.5rem;
  padding-bottom	: 0;
  padding-right		: 0.5rem;
  border-right		: 1px solid black;
}
/* Linker AbstraktTeil */
#AbstraktLinks {
  font-family	: taz,sans-serif;
  font-weight	: bold;
  font-size	: 1.4rem;
  line-height	: 120%;
  padding	: 0;
  margin	: 0 0.5rem 0.2rem 0;
  text-align	: left;
}

/* Dachzeile */
#AbstraktLinks.Dach {
  font-family		: taz,sans-serif;
  font-weight		: normal;
  font-size		: 1rem;
  text-transform	: uppercase;
  margin-left		: 0.25rem;
  margin-top		: 0.25rem;
}
/* Rechter AbstraktTeil */
#AbstraktRechts {
  padding-bottom	: 0;
  margin-bottom		: 0;
  text-align		: left;
}
span.AbstraktUntenLinks {
  font-family		: taz,sans-serif;
  font-weight		: bold;
  font-size		: 1.2rem;
  line-height		: 100%;
  color			: #FFF;
  background-color 	: #000;
  padding		: 0 0.3rem 0 0.3rem;
  margin		: 0 0.3rem 0 0;
}
span.AbstraktUntenRechts {
  font-family		: taz,sans-serif;
  font-weight		: bold;
  color			: #FFF;
  background-color 	: #A0A0A0;
  padding		: 0 0.1rem 0 0.2rem;
  float			: right;
}

/* Quellenangaben */
p.Quelle  {
  font-family		: QuaText,Times,serif;
  font-weight		: normal;
  font-size		: 0.9rem;
  margin-top		: 0.4rem;
  margin-bottom		: 0;
  border-bottom		: 1px black solid;
  text-align		: left;
}
span.Link {
  font-family		: QuaText,Times,serif;
  font-weight		: bold;
  font-size		: 1rem;
  margin-left		: 0.9rem;
}
/* Version */
p.version  {
  font-family		: QuaText,Times,serif;
  font-weight		: normal;
  font-size		: 0.9rem;
  border-top		: 1px black solid;
}

/* Seiten Faksimile */
div.PageImg {
  margin	: 0;
  padding	: 0;
  height	: 100%;
}
img.PageImg  {
  margin	: 0;
  padding	: 0;
}
div.PageLink {
  height	: 100%;
  margin	: 0;
  padding	: 0;
  text-align	: center;
  white-space	: nowrap;
}

/* Tom oder Kari */
p.Tom {
  margin-top	: 0;
  margin-bottom	: 2rem;
  border-bottom	: 1px black solid;
  width         : 100%;
}
img.Tom  {
  margin	: 0;
  padding	: 0;
  width		: 100%;
  height	: 100%;
}

/* Bild im Container */
div.imgContainer {
  margin-top	: 4rem;
  margin-bottom	: 0;
  text-align	: center;
  height		: 100%;
}
img.imgContainer  {
  margin	: 0;
  padding	: 0;
  width		: 90%;
}

/* Neuer Fuss: Social Links */

div.share {
  margin-top	: 0.5rem;
  text-align	: center;
  bottom	: 0;
  width		: 100%;
}

ul.toolbar {
  margin	: 0px;
  padding	: 0px;
}

/*
 * Höhe und Breite werden automatisch auf das Display angepsst.
 * Da das Retinadisplay eine doppelte Auflösung hat,
 * muss das Icon doppelt so groß sein.
 * Die Breite kann nicht im Image, sondern nur das das einschließende
 * Element eingestellt werden.
 */
li.share {
  float			: none;
  vertical-align	: top;
  display		: inline-block;
  list-style-type	: none;
  width			: 32px;
  height		: 32px;
  margin		: 0px;
  padding		: 4px 4px 0 0;
}

/* Nur für einen Browser */
img.share {
  width		: 32px;
  height	: 32px;
}

#Info {
}

div.Info {
  clear		: both;
}

/* Autoren im Text */

div.Autoren {
  margin		: 0;
}

div.Autor {
  margin-top    	: 0.25rem;      /* 4.5bx 22.5 - 18 */
  border-top   		: 1px solid #000000;
  padding-top		: 1.25rem;	/* 22.5bx */

  margin-bottom		: 1rem;		/* 18bx */
  clear			: both;
  text-align		: justify;
}

div.AutorProfil {
  clear: both;
}

a.AutorA {
  display		: block;
  cursor		: pointer;
  text-decoration	: none;
}

img.AutorImg {
  float			: left;
  width			: 119px;
  margin-right		: 1rem;
}

div.AutorKontakt {
  float		: left;
  text-align	: left;
}

/* Autor Bild ist 192px x 192px Die Breite von Autor ist 36(Ränder)
   Gerätebreite
   119 / 30.59 * 100 + 36 = 425
   gerundet 450
*/

@media (max-width: 425px) {
  img.AutorImg {
    width		: 30.59%;
    margin-right	: 4.41%;
  }
  div.AutorKontakt {
    width		: 65%;
  }
}

div.AutorDescr {
  font-family	: Arial, Helvetica, sans-serif;
  font-weight	: normal;
  clear		: both;
  padding-top	: 0.75rem;	/* 13.5bx */
  text-align	: left;
}

div.AutorClear {
  clear: both;
}

h4.AutorName {
  color         : #A80A1A;
  text-transform: uppercase;
  margin        : 0px;
  line-height	: 1.3rem;
  font-size	: 1rem;
}

h5.AutorJob {
  color      	: #333;
  font-weight	: normal;
  font-family	: Arial, Helvetica, sans-serif;
  margin     	: 0px;
  line-height	: 1.3rem;
  font-size	: 1rem;
}

img.icon {
  width : 1.3rem;
  height: 1.3rem;
}

ul.AutorKontakt {
  margin-top		: 0.5rem;
  margin-bottom		: 0;
  list-style-type	: none;
  padding		: 0;
}

li.AutorKontakt {
  list-style-type: none;
  display        : inline-block;
  margin-right   : 5px;
}

div.clear {
  clear	: both;
}


img.ImgBio {
  margin-top	: 0.2rem;
  margin-left	: 1rem;
  margin-right	: 0rem;
  width		: 33%;
}

p.BuBio {
  margin-top	: 0rem;
  margin-left	: 1rem;
  margin-right	: 0rem;
  width		: 33%;
}

/* Bio-Kasten */

div.MediaBio {
  float			: right;
  clear			: right;
  margin-left		: 1rem;
}

div.MediaButzeBio {
  width			: 6.65rem;
  text-align		: left;
}

div.MediaButzeBio p.Foto{
  text-align		: center;
  top			: 6.65rem;
}

div.imgCutBio {
  overflow		: hidden;
}

img.ImgBio {
  width			: 6.65rem;
}

div.AutorProfil div.imgCutBio {
  float		: left;
  margin-right	: 1rem;
}

div.ShortyTenner {
  margin-top		: 1rem;
  margin-bottom		: 0.5rem;
  border-top		: 0.5rem solid #961d2a;
  clear			: both;
}

/* Seitennummer */
span.Seitennummer {
  font-weight	: bold;
}
div#AnzeigenSonderSeiten {
  border-bottom		: 1px solid black;
  border-top		: 1px solid black;
  margin		: 0 0 0.8rem 0;
  padding		: 0.5rem 0 0 0.25rem;
  background-color	: #e4e9dc;
  overflow		: hidden;
}

div.AnzeigenSonderSeitenDach {
  font-family	: taz;
  font-weight	: 600;
  font-size	: 1.4rem;
  float		: left;
}

div.AnzeigenSonderSeitenTitel::before {
  content	: "|";
  margin-right	: 0.25rem;
  margin-left	: 0.25rem;
  color  	: #000000;
}

div.AnzeigenSonderSeitenTitel {
  font-size		: 1.2rem;
  font-weight		: bold;
  color  		: #C62639;
  text-transform	: uppercase;
}

div.AnzeigenSonderSeitenUnterzeile {
  font-weight	: bold;
  clear		: both;
  margin-top	: 0.5rem;
  font-size	: 0.7rem;
}

em {
  font-style	: normal;
}

em.ctFontArnhemPro {
  font-family	: ArnhemPro;
  font-style	: normal;
}

em.ctFontTaz {
  font-family	: taz,Times,serif;
}

em.ctFontTazText{
  font-family	: QuaText,sans-serif;
}

em.ctTypefaceSemiBold {
  font-weight	: bold;
}

em.ctFontITCZapfDingbatsStd {
  font-family	: ErlerDingbats;
}

em.ctColorBlack {
  color  	: #000000;
}

em.ctColorTazRot {
  color  	: #C62639;
}

em.ctColorTazRot2017 {
  color  	: #E20036;
}

em.ctColorTazPetrol {
  color  	: #4B92A5;
}

em.ctCaseAllCaps {
  text-transform	: uppercase;
}

/* Fotos */
img.MediaImg {
  float			: left;
  margin-bottom		: 0.5rem;
  clear			: both;
}
div.BeitragsArt_taz_print_biokasten img.MediaImg {
  float			: right;
}
/* Schon für das neue Layout */
p.MediaButze {
  font-family		: taz,sans-serif;
  font-size		: 0.7rem;
  line-height		: 0.9rem;
  font-weight		: bold;
  text-align		: left;
  float			: left;
  clear			: left;
  margin-bottom		: 0.5rem;
  margin-top		: 0;
}
div.BeitragsArt_taz_print_biokasten p.MediaButze {
  float			: right;
  clear			: right;
}
p.MediaButze .zAu {
  font-weight		: normal;
  text-transform	: none;
}

#foto {
  float			: none;
  clear			: both;
  margin-top		: 0;
}

/* Ende Fotos */

div.BioText p.oeinz {
  text-align		: left;
}

div.Bemerkung {
  margin-top	: 1rem;
  padding-top	: 0.2rem;
  margin-bottom	: 1rem;
  border-top	: 2px ridge gray;
}

div.EinzelFoto {
  display	: none;
}

@media aural, speech {
  #fotos {
    display: none;
  }
}

#MediaAudio {
}

div.demoDiv {
  content	: "";
  display	: block;
  width		: 100%;
  height	: 8rem;
  clear		: both;
}

div.demoDiv:before {
  content	: "";
  position	: absolute;
  height	: 16rem;
  margin-top	: -16rem;
  width		: calc(100% - 1.8rem);
  background-image	: --webkit_linear-gradient(0deg,#fff 5%,hsla(0,0%,100%,0));
  background-image	: linear-gradient(0deg,#fff 5%,hsla(0,0%,100%,0));
}
